*{
    box-sizing: border-box;
}

.cointainer{
    margin : 25px 50px  ;
    padding: 10px;
    background-color: aliceblue;
    border : 2px solid blueviolet;
    border-radius: 5px;

}
input[type=text],
input[type=email],
input[type=password],
textarea,
fieldset
{
    border: 0.5px solid violet;
    width: 100%;
    border-radius: 5px;
    
} 
button{
    background-color: aqua;
    border: 0px solid maroon;
    width: 100%;
    border-radius: 7px;

}
header{
    text-align: center;
}
.Main_form{
    padding: 10px;
    
}